
body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: smaller;
    color:#0085ca;
    
}
a { color: inherit; } /*removing blue color from links*/


/* -------------------------Top Header Menu Settings START--------------------> */
.header{
    background-color:white;
    width:100%;
    height:85x;
    position:fixed;
    margin-top:-110px;
}
/* .header::after{ content:"";  display:table;  clear:both; } --Tweek Not Used*/
.logo{
    height:85px;
    width:150px;
    border-radius: 40px;
    margin:2px 0px 0px 20px;
    float: left;
}
.hMenu{
    margin: 50px 10vw 0 0 ;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
}
.hMenu a:hover{ color:darkorange; }
.hMenu img:hover{ border:2px solid red;  box-shadow: 0 0 10px #333; }

/* -------------------------Top Header Menu Settings END--------------------| */



/* ~=|~=|~=|~=|~=|~=|~=|~===THIS PAGE MID CONTENTS SETTINGS START~=|~=|~=|~=|~=|~=|~=|~===> */

.mid1{
    margin-top:110px;
    /* width:fit-content; */
    min-height:fit-content;
    list-style: none;
}
#TCHiframevideo1, #TCHiframevideo3{
    width: 470px; 
    height: 300px; 
    border-radius: 30px;
    box-shadow: 
    inset 0px 10px 10px -10px gray,
    inset 0px -10px 10px -10px gray;
}
#iframevideo1, #iframevideo3{
    width:inherit;
    height:inherit;
    border-radius:inherit;
    text-align:justify;
}
#TCHiframevideo2{
    margin-left:600px;
    width: 470px; 
    height: 300px; 
    border-radius: 30px;
    box-shadow: 
    inset 0px 10px 10px -10px gray,
    inset 0px -10px 10px -10px gray;
}
#iframevideo2{
    width:inherit;
    height:inherit;
    border-radius:inherit;
    text-align:justify;
}


/* ~=|~=|~=|~=|~=|~=|~=|~===THIS PAGE MID CONTENTS SETTINGS END~=|~=|~=|~=|~=|~=|~=|~===> */



/* -------------------------Top Footer Menu Settings START--------------------> */
.footerContainer{
    background-color:rgba(237,237,237,1)  ;
    margin-top:200px;
}
.footer{
    /* margin: 30px 150px 30px 100px; */
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    /* column-gap:1rem ; */
}

.fMenu1 , .fMenu2, .fMenu3 { list-style: none; }    /*All footer menu removed bullets*/

.fMenu1 a:hover, .fMenu2 a:hover { color:darkorange; }    /*All footer menu color change on mouse Hover-over*/

.fMenu3{ color:gray}

#acknowledgement{
    color:darkred  ;
    margin:0px 0px 0px 0px;
}
/* -------------------------Top Footer Menu Settings END--------------------| */
